/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
:root {
  --wrapper-width: 1120px;
  --header-height: 390px;
  --content-width: 800px;
  --content-padding: 19px;
  --margin-between-cards: 14px;
  --main-color: #1565C0;
  --hover-color: #039BE5;
  --active-color: #03A9F4;
  --action-color: white;
  --action-background: #00B0FF;
  --header-color: #424242;
  --button-hover: Light Blue;
  --card-bg-color: #fcfcfc; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
* {
  box-sizing: border-box; }

body {
  font-size: 15px;
  color: #404040;
  overflow-y: scroll;
  background: radial-gradient(circle at top, #4e7f94, #1a373e 1000px);
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  line-height: 1.3em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1em; }

.my-name {
  font-size: 1.5em;
  margin-bottom: 25px; }

.flexwrap {
  margin: 0 auto;
  width: var(--wrapper-width);
  display: flex; }
  .flexwrap > section {
    flex: 1 1 auto;
    margin-left: var(--margin-between-cards); }
    .flexwrap > section:first-child {
      margin-left: 0; }

.vertflexwrap {
  display: flex;
  flex-direction: column; }

.card {
  box-shadow: 0 17px 12px -14px rgba(0, 0, 0, 0.82);
  background: var(--card-bg-color);
  margin-bottom: var(--margin-between-cards);
  border-radius: 4px;
  overflow: hidden;
  position: relative; }
  .card h2 {
    margin: 0 0 13px;
    color: rgba(0, 0, 0, 0.54); }
  .card .fade-loader {
    top: 0px;
    position: absolute;
    width: 10px;
    top: -1px;
    height: 1px;
    background: var(--main-color);
    box-shadow: 0 -2px 7px 3px var(--main-color);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade-loader-animation;
    animation-name: fade-loader-animation;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }

@-webkit-keyframes fade-loader-animation {
  0% {
    left: -10px; }
  100% {
    left: 100%; } }

@keyframes fade-loader-animation {
  0% {
    left: -10px; }
  100% {
    left: 100%; } }

.index-avatar {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 4px; }

.avatar {
  width: 264px;
  height: 264px;
  overflow: hidden;
  border-radius: 4px; }

.padded {
  padding: var(--content-padding); }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.multibox-card {
  width: 673px;
  height: 277px; }
  .multibox-card .multibox {
    width: 673px;
    height: 277px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .multibox-card .multibox input {
      visibility: hidden;
      height: 0;
      width: 0; }
    .multibox-card .multibox label {
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
      display: block;
      font-size: 1em;
      height: 2.5em;
      width: 100px;
      line-height: 2.5em;
      text-align: center;
      text-transform: uppercase;
      border-radius: 2px;
      z-index: 1; }
    .multibox-card .multibox input:hover + label {
      background: rgba(0, 0, 0, 0.12); }
    .multibox-card .multibox input:checked + label {
      background: var(--main-color);
      color: white;
      font-weight: 600;
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
      z-index: 2; }
    .multibox-card .multibox .contents {
      width: 515px;
      height: 239px; }
    .multibox-card .multibox .contents > div {
      position: absolute;
      width: 515px;
      height: 239px;
      overflow-y: auto;
      z-index: 1;
      background: var(--card-bg-color); }
    .multibox-card .multibox #tab-1:checked ~ .contents #content-1,
    .multibox-card .multibox #tab-2:checked ~ .contents #content-2,
    .multibox-card .multibox #tab-3:checked ~ .contents #content-3,
    .multibox-card .multibox #tab-4:checked ~ .contents #content-4,
    .multibox-card .multibox #tab-5:checked ~ .contents #content-5 {
      z-index: 2; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.worklog .entry .timestamp {
  line-height: 1em;
  position: relative;
  margin-left: 36px;
  color: #888; }
  .worklog .entry .timestamp span {
    padding: 1px 5px;
    color: rgba(0, 0, 0, 0.87);
    background: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-left: 4px;
    display: inline-block;
    font-size: 0.7em;
    position: relative;
    bottom: 2px; }
  .worklog .entry .timestamp:before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 5px solid #ddd;
    background: white;
    position: absolute;
    top: -4px;
    left: -30px; }

.worklog .entry .log {
  font-size: 0.9em;
  margin-left: 14px;
  padding: 5px 19px 16px;
  border-left: 7px solid #ddd;
  line-height: 1em; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.pypi .packages {
  display: flex;
  flex-wrap: wrap; }
  .pypi .packages .package {
    width: 240px;
    margin-right: 6px;
    border-radius: 3px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87); }
    .pypi .packages .package h3 {
      margin: 0;
      padding: 0;
      font-weight: 600; }
    .pypi .packages .package p {
      height: 45px; }
    .pypi .packages .package .buttons {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .pypi .packages .package .buttons a {
        box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
        text-decoration: none;
        text-align: center;
        color: white;
        background: var(--main-color);
        border-radius: 2px;
        padding: 2px 7px;
        margin-bottom: 3px; }
        .pypi .packages .package .buttons a:hover {
          background: var(--action-background); }

.index-header {
  display: block;
  margin-bottom: 20px; }

section {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: var(--wrapper-width);
  margin: 0 auto; }
  section h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.54); }

.header-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 180px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 3em;
  font-weight: 300; }

.about {
  padding: var(--content-padding);
  height: 194px; }
  .about h1 {
    margin: 0; }
  .about .text {
    max-width: 800px; }
    .about .text h1 {
      color: white;
      text-align: left; }
  .about img {
    width: 270px;
    height: 270px; }

.calendar-wrapper {
  height: 153px;
  width: 673px; }
  .calendar-wrapper .calendar {
    position: relative;
    left: -29px;
    top: -22px;
    transition: all 0.2s ease; }
    .calendar-wrapper .calendar h2, .calendar-wrapper .calendar .month, .calendar-wrapper .calendar .wday, .calendar-wrapper .calendar .contrib-footer, .calendar-wrapper .calendar .contrib-column {
      display: none; }

.articles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .articles-wrapper .articles-title {
    font-size: 2em;
    line-height: 1em;
    margin: 0; }
  .articles-wrapper .articles {
    width: 806px; }
    .articles-wrapper .articles article {
      transition: all 0.2s ease; }
      .articles-wrapper .articles article .details hr {
        width: 800px;
        position: relative;
        left: calc(-1*var(--content-padding));
        margin: 0;
        margin-bottom: 12px;
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box; }
      .articles-wrapper .articles article .details.with-thumbnail {
        width: 600px; }
        .articles-wrapper .articles article .details.with-thumbnail hr {
          width: 600px; }
      .articles-wrapper .articles article .details header {
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
      .articles-wrapper .articles article .details h2 {
        margin-bottom: 3px; }
        .articles-wrapper .articles article .details h2 > a {
          text-decoration: none;
          color: var(--main-color);
          transition: all 0.2s ease;
          position: relative;
          left: 0px; }
          .articles-wrapper .articles article .details h2 > a:hover {
            position: relative;
            left: 5px; }
      .articles-wrapper .articles article .details .timestamp {
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.26);
        position: relative; }
      .articles-wrapper .articles article .details .snippet {
        margin-bottom: 10px; }
      .articles-wrapper .articles article .details .tag-list {
        margin: 0; }
      .articles-wrapper .articles article .image {
        background: var(--main-color);
        width: 200px;
        height: 200px; }
  .articles-wrapper .sidebar {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column; }
    .articles-wrapper .sidebar .tags {
      align-self: flex-start; }
      .articles-wrapper .sidebar .tags .tags-list {
        margin: 0; }

#searchfield {
  width: 100%;
  height: 32px;
  /* font-size: 1.1em; */
  /* border-color: #aaa; */
  border: 1px solid #ddd;
  padding: 10px; }

.pagination-nav {
  align-self: flex-end;
  display: flex;
  text-align: center; }
  .pagination-nav a {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54); }
    .pagination-nav a:hover {
      background: var(--main-color);
      color: white;
      font-weight: 400;
      transition: all 0.2s ease; }
    .pagination-nav a:nth-child(odd) {
      border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .pagination-nav span {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.12); }
    .pagination-nav span:nth-child(odd) {
      border-right: 1px solid rgba(0, 0, 0, 0.12); }

.fade-in {
  transition: all 0.8s ease;
  opacity: 0;
  overflow: hidden; }

.twitter-timeline {
  height: 380px !important; }

.twitter-card {
  height: 444px; }

.timeline-Header {
  display: none !important; }

.twitter-follow-button-wrapper {
  position: relative;
  bottom: 34px;
  left: 253px; }

.twitter-timeline-wrapper {
  position: relative;
  bottom: 26px; }

.flickr-slideshow {
  height: 300px; }

.footer {
  width: 800px;
  margin: 40px auto 20px auto;
  text-align: center;
  color: #556a6f;
  font-size: 0.8em; }

.icons-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 1.3em;
  padding-bottom: 4px;
  margin: 12px 0 7px 19px; }
  .icons-row a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    transition: all 0.2s ease; }
    .icons-row a:hover {
      color: white;
      background: var(--main-color); }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
:root {
  --wrapper-width: 1120px;
  --header-height: 390px;
  --content-width: 800px;
  --content-padding: 19px;
  --margin-between-cards: 14px;
  --main-color: #1565C0;
  --hover-color: #039BE5;
  --active-color: #03A9F4;
  --action-color: white;
  --action-background: #00B0FF;
  --header-color: #424242;
  --button-hover: Light Blue;
  --card-bg-color: #fcfcfc; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.tag-list {
  --height: 24px;
  --font-size: 0.8em;
  --color: var(--main-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .tag-list a {
    color: #616161;
    text-decoration: none;
    font-weight: 400;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    background: #E0E0E0;
    vertical-align: middle;
    height: var(--height);
    padding: 0 15px;
    margin-bottom: 6px;
    border-radius: calc(var(--height) / 2);
    margin-right: 6px;
    transition: all 0.2s ease; }
    .tag-list a.count {
      padding: 0 0 0 15px; }
      .tag-list a.count span {
        margin-left: 4px; }
    .tag-list a span {
      font-size: var(--font-size);
      background: #9E9E9E;
      color: #EEEEEE;
      height: var(--height);
      width: var(--height);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: calc(var(--height) / 2);
      transition: all 0.2s ease; }
    .tag-list a:hover {
      color: var(--color); }
      .tag-list a:hover span {
        background: var(--color); }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
#action-button {
  --top: 344px;
  outline: none;
  background: var(--action-background);
  font-size: 40px;
  font-weight: 300;
  box-sizing: border-box;
  transition: all 0.2s ease;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  right: 138px;
  top: var(--top);
  border: none;
  z-index: 2;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
  #action-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
    #action-button:hover .icon-bars {
      transform: rotate(45deg); }
  #action-button .icon-bars {
    background: var(--action-color);
    height: 2px;
    width: 18px;
    margin: auto;
    display: block;
    position: relative;
    transition: all 0.2s ease; }
    #action-button .icon-bars:after {
      content: '';
      position: absolute;
      height: 18px;
      width: 2px;
      background: var(--action-color);
      right: 8px;
      top: -8px; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
nav .navmenu-wrapper {
  width: 100%;
  margin-top: 10px; }

nav .navmenu {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.87); }
  nav .navmenu .logo {
    font-size: 1.4em;
    color: var(--color);
    text-decoration: none;
    transition: all 0.2s ease; }
    nav .navmenu .logo:hover {
      color: var(--hover-color); }
  nav .navmenu .group {
    display: flex;
    align-items: center; }
    nav .navmenu .group:first-child {
      padding-left: 16px; }
    nav .navmenu .group:last-child {
      margin-right: 16px; }
    nav .navmenu .group a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      border: none;
      background: none;
      height: var(--nav-height);
      font-size: 1.1em;
      color: var(--color);
      text-decoration: none;
      transition: all 0.2s ease; }
      nav .navmenu .group a:hover {
        color: var(--hover-color); }
      nav .navmenu .group a:active {
        color: var(--active-color); }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: var(--wrapper-width);
  margin: 0 auto; }

.article-links {
  background: var(--main-color); }
  .article-links .button {
    padding: 0 30px;
    display: block;
    color: white;
    padding: 6px 30px;
    text-decoration: none; }
    .article-links .button:hover {
      background: var(--action-background); }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 32px; }

.article {
  max-width: var(--content-width); }
  .article header .article-title {
    padding: 25px 30px 5px 30px;
    font-size: 300%;
    font-weight: 400;
    line-height: 1em; }
  .article header .details {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 30px 0; }
    .article header .details .timestamp {
      font-size: 1.4em;
      display: flex;
      padding: 12px 0;
      align-items: center; }
    .article header .details .tag-list {
      margin: 0;
      padding: 0;
      align-items: center; }
      .article header .details .tag-list a {
        color: #757575;
        background: #E0E0E0;
        margin-right: 0;
        margin-left: 6px !important;
        margin-top: 2px; }
        .article header .details .tag-list a:hover {
          color: var(--main-color); }
  .article article {
    padding: 30px; }
    .article article .summary {
      padding-bottom: 15px;
      font-size: 1.3em;
      color: rgba(0, 0, 0, 0.54);
      line-height: 1.3em; }
  .article a {
    color: var(--main-color); }
  .article hr {
    position: relative;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    width: var(--content-width);
    position: relative;
    left: -30px; }
  .article .code-name {
    margin-bottom: -15px;
    color: #5faec1;
    box-sizing: border-box;
    background: #0a2329;
    position: relative;
    width: var(--content-width);
    padding-left: 30px;
    left: -30px;
    font-family: monospace;
    font-size: 0.8em;
    padding-top: 7px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #5faec1; }
  .article .divider {
    margin-top: 50px;
    font-weight: 300;
    color: #aaa;
    position: relative;
    width: var(--content-width);
    left: -30px;
    line-height: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 30px; }
  .article iframe.video {
    position: relative;
    left: -30px; }
  .article .figures figure {
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: var(--content-width);
    left: -30px;
    margin: 0;
    display: flex;
    flex-direction: column; }
    .article .figures figure:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      margin-top: 30px; }
    .article .figures figure:last-child {
      margin-bottom: 30px; }
    .article .figures figure img {
      margin: 19px auto 10px;
      max-width: 740px;
      margin-bottom: 10px; }
    .article .figures figure figcaption {
      text-align: center;
      font-size: 0.9em;
      font-style: italic;
      margin-bottom: 10px; }
  .article p code {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.8em;
    background: #F5F5F5;
    padding: 1px 3px; }
  .article pre code {
    background: #0a2329;
    color: #5faec1;
    width: var(--content-width);
    display: block;
    position: relative;
    left: -30px;
    overflow-x: auto;
    font-size: 0.8em;
    line-height: 1.4em;
    padding: 17px 30px; }

table {
  position: relative;
  width: var(--content-width) !important;
  padding-left: 30px;
  left: -30px;
  font-size: 13px;
  table-layout: auto;
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em; }
  table thead {
    background-color: #e8e8e8;
    font-weight: 500; }
  table td, table th {
    border: 1px solid rgba(0, 0, 0, 0.12);
    line-height: 24px;
    padding: 6px;
    vertical-align: middle; }
    table td:first-child, table th:first-child {
      border-left: none; }
    table td:last-child, table th:last-child {
      border-right: none; }

.discussion {
  padding: 10px 30px 30px 30px; }

.sidebar {
  --width: 306px;
  width: var(--width); }
  .sidebar .avatar {
    display: block;
    width: var(--width);
    height: var(--width);
    background: #2196F3; }
  .sidebar .sidebar-nav {
    display: flex;
    flex-wrap: wrap; }
    .sidebar .sidebar-nav a {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.54); }
      .sidebar .sidebar-nav a:hover {
        background: var(--main-color);
        color: white;
        font-weight: 400;
        transition: all 0.2s ease; }
      .sidebar .sidebar-nav a:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.12); }
    .sidebar .sidebar-nav span {
      width: calc(var(--width) / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.12); }
      .sidebar .sidebar-nav span:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.12); }
    .sidebar .sidebar-nav .neighbour-title {
      width: var(--width);
      display: flex;
      height: 0px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      background: var(--main-color);
      color: white;
      transition: all 0.2s ease;
      font-size: 0.9em; }
    .sidebar .sidebar-nav .previous-a:hover ~ .previous-title {
      height: 41px;
      padding: 10px; }
    .sidebar .sidebar-nav .next-a:hover ~ .next-title {
      height: 41px;
      padding: 10px; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.projects-title {
  font-size: 2em;
  line-height: 1em;
  margin: 0 !important; }

.portfolio-list {
  --portfolio-item-width: calc(var(--wrapper-width) / 4);
  display: flex;
  flex-wrap: wrap;
  width: var(--wrapper-width);
  margin: 0 auto;
  background: white; }
  .portfolio-list .portfolio-item {
    width: var(--portfolio-item-width);
    height: var(--portfolio-item-width); }
    .portfolio-list .portfolio-item figure {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      margin: 0; }
      .portfolio-list .portfolio-item figure img {
        width: 100%; }
      .portfolio-list .portfolio-item figure figcaption {
        width: 100%;
        height: 100%;
        display: table;
        background: var(--main-color);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.2s ease; }
        .portfolio-list .portfolio-item figure figcaption .overlay {
          height: 100%;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          padding: 20px; }
          .portfolio-list .portfolio-item figure figcaption .overlay .title {
            color: white;
            font-weight: 400;
            font-size: 2em;
            margin-bottom: 25px;
            line-height: 1em; }
          .portfolio-list .portfolio-item figure figcaption .overlay small {
            color: rgba(255, 255, 255, 0.7); }
          .portfolio-list .portfolio-item figure figcaption .overlay a {
            color: rgba(0, 0, 0, 0.54);
            background: white;
            padding: 10px;
            text-decoration: none;
            margin-top: 10px;
            align-self: flex-end;
            text-transform: uppercase;
            position: absolute;
            bottom: 20px;
            right: 20px; }
      .portfolio-list .portfolio-item figure:hover figcaption {
        opacity: 1; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?9x9lhe");
  src: url("/assets/fonts/icomoon.eot?9x9lhe#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?9x9lhe") format("truetype"), url("/assets/fonts/icomoon.woff?9x9lhe") format("woff"), url("/assets/fonts/icomoon.svg?9x9lhe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-book:before {
  content: "\e91f"; }

.icon-box-add:before {
  content: "\e95e"; }

.icon-leaf:before {
  content: "\e9a4"; }

.icon-link:before {
  content: "\e9cb"; }

.icon-share:before {
  content: "\ea7d"; }

.icon-new-tab:before {
  content: "\ea7e"; }

.icon-share:before {
  content: "\ea82"; }

.icon-google:before {
  content: "\ea8c"; }

.icon-facebook:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-vimeo:before {
  content: "\eaa1"; }

.icon-flickr:before {
  content: "\eaa5"; }

.icon-github:before {
  content: "\eab0"; }

.icon-npm:before {
  content: "\eab1"; }

.icon-soundcloud:before {
  content: "\eac4"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-stackoverflow:before {
  content: "\ead0"; }

.icon-paypal:before {
  content: "\ead8"; }

.icon-git:before {
  content: "\eae7"; }

.icon-codepen:before {
  content: "\eae8"; }
