<div id="toc"></div>
<script type="text/javascript">
var toc_visible = true;
$(document).ready(function() {
  $("#toc").toggleClass("hovered");
  var pos = $('.entry-content').position();
  $('#toc').css({ 'top' : (pos.top+60) + 'px'});
  $('#toc').toc();
  setTimeout(function(){
      $("#toc").toggleClass("hovered");
  }, 4000);
});

$(document).scroll(function() {
  var hh = $('.entry-content').height()-200;  
  var y = $(this).scrollTop();
  var op = 0.5;
  if (y>hh) {
    op = 0.0;
  }
  $('#toc').css({ 'opacity' : (op) }); 
});



</script>