<div id="toc"></div>
<script type="text/javascript">
var toc_visible = true;
$(document).ready(function() {
  $("#toc").toggleClass("hovered");
  var pos = $('.entry-content').position();
  $('#toc').css({ 'top' : (pos.top+60) + 'px'});
  $('#toc').toc();
  setTimeout(function(){
      $("#toc").toggleClass("hovered");
  }, 4000);
});

$(document).scroll(function() {
  var th = $('.entry-content').height()-300;  
  var y = $(this).scrollTop();
  var maxop = 0.5;
  var delta = 200;
  var op = maxop;
  if (y>th) {
    op = -(maxop/delta)*y + (maxop*(th+delta))/delta;
  } else if (y>th+delta) {
    op = 0.0;
  }
  $('#toc').css({ 'opacity' : (op) }); 
});



</script>
