<div id="toc"></div>
<script type="text/javascript">
var toc_visible = true;
$(document).ready(function() {
  var pos = $('.entry-content').position();
  $('#toc').css({ 'top' : (pos.top+60) + 'px'});
  setTimeout(function(){
      $('#toc').toc();
  }, 200);
});

$(document).scroll(function() {
  var hh = $('.entry-content').height()-80;  
  var y = $(this).scrollTop();
  if (y < hh) {
    if (!toc_visible) {
      toc_visible = true;
      $('#toc').fadeIn();
    }
  } else {
    if (toc_visible) {
      toc_visible = false;
      $('#toc').fadeOut();
    }
  }
});



</script>