@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
      @include rounded(0 0 5px 5px);
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
      @include rounded(0 0 5px 5px);
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.gist .gist-file {
  background-color: transparent !important;
  border: none !important;
  background-color: #002b36;
  @include scrollbars(.5em, #2aa198, #073642);
}

.gist {
  ::-moz-selection {
    background-color: #dc322f;
    color: #073642;
  }
  ::selection {
    background-color: #dc322f;
    color: #073642;
  }

  table {
    border-radius: 0px !important;  
  }

  td {
    border-top: none;
  }

  .highlight {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin-bottom: 25px;
    border: none !important;
  }

  .gist-data {
    overflow-x: auto !important;
    word-wrap: normal !important;
    background-color: transparent !important;
    @include rounded(6px);
    border: 1px solid #586e75;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.09));
  }

  .line-data {
    width: 602px;
    overflow: hidden;
    font-size: 100%;
    pre {
      overflow: hidden;
    }
  }

  .line-numbers {
    width: 38px;
    overflow: hidden;
    text-align: right;
    font-size: 100%;
    background: #073642 !important;
    padding-right: 6px;
    color: #586e75 !important;
    border: none !important;
    pre {
      overflow: hidden;
    }
  }

  .gist-meta {
    padding: 5px 40px !important;
    background-color: transparent !important;
    color: $gist-meta-color !important;
    a {
      color: $gist-meta-color !important;
    }
  }

  .highlight {
    font-size: 12px;
    color: #93a1a1 !important;
    background-color: #002b36 !important;
    pre {
        padding-left: 6px;
    }
    .hhl { background-color: #002b36 !important }
    .lineno { color: #586e75 !important} /* Line Numbers */
    .c  { color: #586e75 !important} /* Comment */
    .cm { color: #586e75 !important} /* Comment.Multiline */
    .c1 { color: #586e75 !important} /* Comment.Single */
    .sb { color: #586e75 !important} /* Literal.String.Backtick */
    .err{ color: #93a1a1 !important} /* Error */
    .g  { color: #93a1a1 !important} /* Generic */
    .l  { color: #93a1a1 !important} /* Literal */
    .n, .pl-mp, .pl-vpf  { color: #93a1a1 !important} /* Name */
    .p  { color: #93a1a1 !important} /* Punctuation */
    .ge { color: #93a1a1; font-style: italic !important} /* Generic.Emph */
    .go { color: #93a1a1 !important} /* Generic.Output */
    .gp { color: #93a1a1 !important} /* Generic.Prompt */
    .gs { color: #93a1a1; font-weight: bold !important} /* Generic.Strong */
    .gt { color: #93a1a1 !important} /* Generic.Traceback */
    .ld { color: #93a1a1 !important} /* Literal.Date */
    .na { color: #93a1a1 !important} /* Name.Attribute */
    .nl { color: #93a1a1 !important} /* Name.Label */
    .nn { color: #93a1a1 !important} /* Name.Namespace */
    .py { color: #93a1a1 !important} /* Name.Property */
    .nx { color: #93a1a1 !important} /* Name.Other */
    .w  { color: #93a1a1 !important} /* Text.Whitespace */
    .sd { color: #93a1a1 !important} /* Literal.String.Doc */
    .sh { color: #93a1a1 !important} /* Literal.String.Heredoc */
    .cp { color: #859900 !important} /* Comment.Preproc */
    .cs { color: #859900 !important} /* Comment.Special */
    .o, .pl-k  { color: #859900 !important} /* Operator */
    .gi { color: #859900 !important} /* Generic.Inserted */
    .k, .pl-sc, .pl-st { color: #859900 !important} /* Keyword */
    .kn, .pl-k { color: #859900 !important} /* Keyword.Namespace */
    .kp { color: #859900 !important} /* Keyword.Pseudo */
    .ow { color: #859900 !important} /* Operator.Word */
    .nb, .pl-s3 { color: #b58900 !important} /* Name.Builtin */
    .gu { color: #cb4b16 !important} /* Generic.Subheading */
    .ni { color: #cb4b16 !important} /* Name.Entity */
    .x  { color: #cb4b16 !important} /* Other */
    .ne { color: #cb4b16 !important} /* Name.Exception */
    .gh { color: #cb4b16 !important} /* Generic.Heading */
    .no { color: #cb4b16 !important} /* Name.Constant */
    .kc { color: #cb4b16 !important} /* Keyword.Constant */
    .se { color: #cb4b16 !important} /* Literal.String.Escape */
    .gr { color: #dc322f !important} /* Generic.Error */
    .kt { color: #dc322f !important} /* Keyword.Type */
    .sr { color: #dc322f !important} /* Literal.String.Regex */
    .kd { color: #268bd2 !important} /* Keyword.Declaration */
    .kr { color: #268bd2 !important} /* Keyword.Reserved */
    .nc, .pl-e { color: #268bd2 !important} /* Name.Class */
    .nd { color: #268bd2 !important} /* Name.Decorator */
    .nf, .pl-en { color: #268bd2 !important} /* Name.Function */
    .bp, .pl-c1, .pl-v, .pl-vpf { color: #268bd2 !important} /* Name.Builtin.Pseudo */
    .nt, .pl-ent, .pl-vo { color: #268bd2 !important} /* Name.Tag */
    .nv { color: #268bd2 !important} /* Name.Variable */
    .vc { color: #268bd2 !important} /* Name.Variable.Class */
    .vi { color: #268bd2 !important} /* Name.Variable.Instance */
    .vg { color: #268bd2 !important} /* Name.Variable.Global */
    .gd { color: #2aa198 !important} /* Generic.Deleted */
    .m, .pl-c1  { color: #2aa198 !important} /* Literal.Number */
    .s, .pl-s1, .pl-pds  { color: #2aa198 !important} /* Literal.String */
    .mf { color: #2aa198 !important} /* Literal.Number.Float */
    .mh { color: #2aa198 !important} /* Literal.Number.Hex */
    .mi, .pl-c1 { color: #2aa198 !important} /* Literal.Number.Integer */
    .mo { color: #2aa198 !important} /* Literal.Number.Oct */
    .sc { color: #2aa198 !important} /* Literal.String.Char */
    .s2 { color: #2aa198 !important} /* Literal.String.Double */
    .si { color: #2aa198 !important} /* Literal.String.Interpol */
    .sx { color: #2aa198 !important} /* Literal.String.Other */
    .s1 { color: #2aa198 !important} /* Literal.String.Single */
    .ss { color: #2aa198 !important} /* Literal.String.Symbol */
    .il { color: #2aa198 !important} /* Literal.Number.Integer.Long */
  }
}