body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $body-color;
}

// Main
// --------------------------------------------------
.entry,
.hentry {
    @include clearfix;
    h1, h2, h3, h4, h5, h6, p, li {
        word-wrap: break-word;
    }
}
.entry-content {
    font-size: 16px;
    text-align: justify;
    // Dotted line underlines for links
    p > a,
    li > a {
        border-bottom: 1px dotted lighten($link-color, 50);
        &:hover {
            border-bottom-style: solid;
        }
    }
}

// Entry Header
// --------------------------------------------------

.feature .entry-header {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.66);
}

.entry-header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.feature .header-title {
    text-align: center;
    margin: 30px 0 0;
    max-width: 100%;
}

.header-title {
    text-align: center;
    margin: 30px auto 0;
    max-width: 80%;
    h1 {
        margin: 10px 20px;
        font-weight: 700;
        @include font-rem(32);
        color: lighten($base-color,20);
        @media #{$medium} {
            @include font-rem(48);
        }
        @media #{$large} {
            @include font-rem(60);
        }
    }
    h2 {
        margin: 0;
        @include font-rem(18);
        text-transform: uppercase;
        color: lighten($base-color,40);
        @media #{$medium} {
            @include font-rem(24);
        }
    }
    p {
        color: lighten($base-color,20);
    }
}
.feature .header-title {
    position: absolute;
    top: 0;
    display: table;
    margin-top: 0;
    width: 100%;
    height: $header-height;
    overflow: hidden;
    box-shadow: 0px 26px 25px inset;
    background-image: url('/images/core/transparent-grain.png');
    .header-title-wrap {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        margin: 10px;
        font-weight: 700;
        margin: 10px 60px;
        color: $white;
        text-shadow: 0px 7px 5px rgba($base-color,0.8);
        a {
            color: $white;
        }
        @media #{$large} {
        }
    }
    h2 {
        margin: 0;
        color: $white;
        text-transform: uppercase;
        text-shadow: 0px 3px 4px rgba($base-color,0.8);
        @media #{$medium} {
            a {
                color: $white;
            }
        }
    }
    p {
        color: $white;
    }
}
.entry-image {
    position: relative;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    min-height: $header-height;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($base-color,0.3);
    }
    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: $header-height; // match .entry-image min-height
    }
}
// Feature Image Caption
.image-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    max-width: 440px;
    padding: 10px 15px;
    background-color: rgba($base-color,0.5);
    color: $white;
    @include font-rem(12);
    text-align: right;
    @include border-radius(6px,0,0,6px);
    z-index: 10;
    @media #{$medium} {
        max-width: 760px;
    }
    @media #{$large} {
        max-width: 960px;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}

// Single Post and Page
// --------------------------------------------------
.entry-meta {
    @include font-rem(12);
    /*text-transform: uppercase;*/
    color: lighten($base-color,60);
    a {
        color: lighten($base-color,60);
    }
    .vcard {
        &:before {
            content: " by ";
        }
    }
    .tag {
        display: inline-block;
        margin: 4px;
        color: $white;
        text-transform: uppercase;
        @include rounded(3px);
        background-color: lighten($base-color,50);
        span {
            float: left;
            padding: 2px 6px;
        }
        .count {
            background-color: lighten($base-color,40);
            @include border-radius(3px,3px,0,0);
        }
        &:hover {
            background-color: lighten($base-color,40);
        }
    }
    .entry-reading-time {
        float: right;
    }
    .entry-ribbons {
        float: right;
    }
}
header .entry-meta {
    display: none; // hide header meta on small screens
    @media #{$medium} {
        display: block;
    }
}
#post,
#page {
    .entry-content {
        margin: 40px 2px 20px 2px;
        padding: 10px 15px;
        background-color: $white;
        box-shadow: 0 7px 24px rgba(34,34,34,0.45);
        @include rounded(6px);
        @media #{$medium} {
            margin-left: 10px;
            margin-right: 10px;
            padding: 20px 30px;
        }
        @media #{$large} {
            max-width: 800px;
            margin: 50px auto 30px auto;
            padding: 50px 80px;
            > p:first-child {
                @include font-size(20);
            }
        }
    }
    #disqus_thread {
        margin: 40px 2px 20px 2px;
        padding: 10px 15px;
        background-color: $white;
        box-shadow: 0 7px 24px rgba(34,34,34,0.45);
        @include rounded(6px);
        @media #{$medium} {
            margin-left: 10px;
            margin-right: 10px;
            padding: 20px 30px;
        }
        @media #{$large} {
            max-width: 800px;
            padding: 50px 80px;
            margin: 0 auto 30px auto;
        }
    }
    .entry-meta {
        margin: 50px 30px 30px;
        text-align: center;
    }
}
.entry-tags {
    display: block;
    margin-bottom: 6px;
}
.tag-heading,
.year-heading {
    margin-top: 0;
}
// Permalink icon for link post
.permalink {
    margin-right: 7px;
}
// Post Pagination Module
.pagination {
    margin: 20px 10px;
    text-align: center;
    ul {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
    li {
        padding-left: 4px;
        padding-right: 4px;
    }
    .current-page {
        font-weight: 700;
    }
}

// Read More Module
.read-more {
    position: relative;
    margin: 40px 2px 20px 2px;
    padding: 40px 15px 25px;
    background-color: $white;
    box-shadow: 0 7px 24px rgba(34,34,34,0.45);
    @include rounded(6px);
    @media #{$medium} {
        margin: 50px 10px 20px 10px;
        padding: 50px 40px 25px;
    }
    @media #{$large} {
        max-width: 800px;
        padding: 50px 80px;
        margin: 60px auto;
    }
    text-align: center;
    @include clearfix;
}
.read-more-header {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 35px;
    a {
        @extend .btn;
    }
}
.read-more-content {
    @include font-size(16);
    // Dotted line underlines for links
    p > a,
    li > a {
        border-bottom: 1px dotted lighten($link-color, 50);
        &:hover {
            border-bottom-style: solid;
        }
    }
    h3 {
        margin: 0;
        @include font-rem(28);
        a { 
            color: $text-color;
        }
        @media #{$medium} {
            @include font-rem(36);
        }
    }
}
.read-more-list {
    border-top: solid 2px lighten($base-color,80);
}
.list-item {
    width: 100%;
    text-align: left;
    h4 { 
        @include font-rem(18);
        margin-bottom: 0; 
    }
    span { 
        display: block;
        @include font-rem(14);
        color: lighten($base-color,50);
    }
    @media #{$medium} {
        width: 49%;
        float: left;
        &:nth-child(2) {
            text-align: right;
        }
    }
}

// Post Index 
// --------------------------------------------------
#post-index {
    #main {
        margin: 40px 2px 20px 2px;
        @media #{$medium} {
            margin-left: 20px;
            margin-right: 20px;
        }
        @media #{$large} {
            max-width: 800px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    article {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 7px 24px rgba(34,34,34,0.45);
        @include rounded(6px);
        margin-bottom: 20px;
        padding: 25px 15px;
        @media #{$medium} {
            padding: 30px;
        }
        @media #{$large} {
            margin-bottom: 30px;
            padding: 50px 80px;
        }
    }
}
.entry-image-index {
    margin-top: -25px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    @media #{$medium} {
        margin-top: -30px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 15px;
    }
    @media #{$large} {
        margin-top: -50px;
        margin-left: -80px;
        margin-right: -80px;
        margin-bottom: 20px;
    }
    img {
        @include border-radius(6px,0,0,6px); // round image corners
    }
}

// Footer
// --------------------------------------------------
.footer-wrapper {
    @include clearfix;
    margin: 2em auto;
    text-align: center;
    color: lighten($text-color,20);
    a {
        color: lighten($text-color,20);
    }
}

// Social Share
// --------------------------------------------------
.socialcount {
    @include font-rem(16);
    li { 
        padding-left: 10px;
        padding-right: 10px;
    }
    p > a,
    li > a {
        border-bottom-width: 0;
    }
}


// Browser Upgrade
// --------------------------------------------------
.upgrade {
    padding: 10px;
    text-align: center;
}

// Google Search
// --------------------------------------------------
#goog-fixurl {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}
#goog-wm-qt {
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 8px 20px;
    display: inline-block;
    @include font-rem(14);
    background-color: $white;
    color: $text-color;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: lighten($primary,50);
    @include rounded(3px);
}
#goog-wm-sb {
    @extend .btn;
}


// Simple search
// --------------------------------------------------

input#search-input {
  width: 100%;
  opacity: 0.4;
  text-align: center;
  @include rounded(6px);
  border: none;
  box-shadow: 0 1px 4px #555 inset;
  color: #888;
  padding: 4px;
  font-size: 90%;
  display: block;
}

input#search-input:focus {
  opacity: 0.8;
  outline: 0;
}

#results-container {
  background: white;
  margin: 7px 0 18px;
  box-shadow: 0 1px 4px #555 inset;
  opacity: 0.8;
  border-radius: 6px;
  overflow: hidden;
}

.selected {
  background-color: rgba(121, 127, 134, 0.49);
  color: #FFF !important;
  a {
    color: #FFF !important;
  }
}

.search-result-block-container:first-child {
  padding: 12px 20px 6px;
}

.search-result-block-container{
  display: block;
  padding: 6px 20px 6px;
}

.search-result-block-container:last-child {
  padding: 6px 20px 12px;
}

.search-result-block-title{
	font-weight: 700;
  border-bottom: solid 1px #ddd;
}

.search-result-block-content{
	font-size: 90%;
  margin-left: 0px;
  text-align: justify;
  margin: 2px 8px 0;
}


// Table
// --------------------------------------------------

table {
  margin-bottom: 29px;
  border: solid 1px #ccc;
  @include rounded(6px);
  border-collapse: separate;
  border-spacing: 0;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.09));
  overflow: hidden;
}

thead {
  background: #eee;
}

th {
  padding: 5px;
}

td {
  font-size: 90%;
  padding-left: 6px;
  padding-bottom: 6px;
  border-top: solid 1px #ccc;
}

td a {
  border-bottom: dotted 1px;
}


// Donation
// --------------------------------------------------

.donation-button:hover {
  background-color: $donation-color;
} 

.donation-button {
  display: block;
  margin: 10px;
  background-color: #b3b3b3;
  color: white !important;
  @include rounded(3px);
  padding: 3px;
}


.donation-button-row:hover {
  background-color: #fff;
  color: rgba(0, 156, 222, 0);
  border: solid 1px $donation-color;
  background-image: url("http://tiborsimon.github.com/images/core/paypal-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.donation-button-row {
  display: block;
  background-color: $donation-color;
  color: white;
  @include rounded(3px);
  padding: 5px;
  font-size: 98%;
  border: solid 1px $donation-color;
}  

.donation-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.donation-wrapper:before,
.donation-wrapper:after {
  content : "";
  display: table;
}
.donation-wrapper:after {
  clear: both;
}

.donation-item {
  float: left;
  width: 16.666666666666%;
  padding: 0 0.8333%;
}


.donor-wrapper:before,
.donor-wrapper:after {
  content : "";
  display: table;
}
.donor-wrapper:after {
  clear: both;
}

.donor {
  float: left;
  width: 25%;
  padding: 0 0.5%;
  margin-bottom: 1%;
  text-align: center;
}

.donor-link {
  display: block;
  background-color: #b3b3b3;
  color: white;
  @include rounded(3px);
  padding: 5px;
} 

.donor-link:hover {
  background-color: $donation-color;
  color: white;
  @include rounded(3px);
}


// Ribbons
// --------------------------------------------------

.ribbon {
  display: block;
  color: rgb(228, 228, 228);
  padding: 4px 6px;
  font-size: 112%;
  float: right;
  position: relative;
  border-radius: 3px;
  margin-left: 4px;
  box-shadow: 0px 1px 3px #D3D3D3 inset;
}

.ribbon:hover {
  color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.ribbon:first-child {
  border-radius: 0 3px 3px 0;
}
.ribbon:last-child {
  border-radius: 3px 0 0 3px;
}


.ribbon-repo:hover {
  background-color: $info;
}

.ribbon-release:hover {
  background-color: $success;
}