// Typography
// --------------------------------------------------

$base-font           : 'Lato', Calibri, Arial, sans-serif;
$heading-font        : $base-font;
$caption-font        : $base-font;
$code-font           : monospace;
$alt-font            : serif;

$doc-font-size       : 14;
$doc-line-height     : 24;


// set-up the body font-size / line-height
body {
    margin-top       : 0px + $doc-line-height;
    font-size        : 0px + $doc-font-size;    
}


// Colors
// --------------------------------------------------
$base-color          : rgba(#222,0.8);
$body-color          : #e8e8e8;
$text-color          : rgba(#222,0.8);
$comp-color          : complement(#222); 
$border-color        : lighten($base-color,60);
$white               : #fff;
$black               : #000;
$link-color          : rgba(#222,0.8);

$primary             : #222;
$success             : #5cb85c;
$warning             : #dd8338;
$danger              : #C64537;
$info                : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 500px)";
$medium              : "only screen and (min-width: 700px)";
$large               : "only screen and (min-width: 800px)";


// Page Sizes
// --------------------------------------------------

$header-height       : 300px;


// Syntax highlight colors
// --------------------------------------------------

// Syntax highlight color variables
// --------------------------------------------------

$gist-base03:    #002b36;
$gist-base02:    #073642;
$gist-base01:    #586e75;
$gist-base00:    #657b83;
$gist-base0:     #839496;
$gist-base1:     #93a1a1;
$gist-base2:     #eee8d5;
$gist-base3:     #fdf6e3;

$gist-yellow:    #b58900;
$gist-orange:    #cb4b16;
$gist-red:       #dc322f;
$gist-magenta:   #d33682;
$gist-violet:    #6c71c4;
$gist-blue:      #268bd2;
$gist-cyan:      #2aa198;
$gist-green:     #859900;

$gist-selection-bg        : $gist-red;
$gist-selection-color     : $gist-base2;
$gist-border-color   : #d3d3d3;
$gist-meta-color     : rgba(187,187,187,0.8);

// $base03:    #fdf6e3;
// $base02:    #eee8d5;
// $base01:    #93a1a1;
// $base00:    #839496;
// $base0:     #657b83;
// $base1:     #586e75;
// $base2:     #073642;
// $base3:     #002b36;
// 
// $yellow:    #4a76ff;
// $orange:    #34b4e9;
// $red:       #23cdd0;
// $magenta:   #2cc97d;
// $violet:    #938e3b;
// $blue:      #d9742d;
// $cyan:      #d55e67;
// $green:     #7a66ff;
// $gist-border-color   : #base1;
// $selection-bg        : $red;
// $selection-color     : $base2;
// 
// $gist-meta-color     : rgba(116, 112, 112, 0.8);


// Donation colors
// --------------------------------------------------

$donation-color      : #5175AD;
