// Typography
// --------------------------------------------------

$base-font           : 'Lato', Calibri, Arial, sans-serif;
$heading-font        : $base-font;
$caption-font        : $base-font;
$code-font           : monospace;
$alt-font            : serif;

$doc-font-size       : 14;
$doc-line-height     : 24;


// set-up the body font-size / line-height
body {
    margin-top       : 0px + $doc-line-height;
    font-size        : 0px + $doc-font-size;    
}


// Colors
// --------------------------------------------------
$base-color          : rgba(#222,0.8);
$body-color          : #e8e8e8;
$text-color          : rgba(#222,0.8);
$comp-color          : complement(#222); 
$border-color        : lighten($base-color,60);
$white               : #fff;
$black               : #000;
$link-color          : rgba(#222,0.8);

$primary             : #222;
$success             : #5cb85c;
$warning             : #dd8338;
$danger              : #C64537;
$info                : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 500px)";
$medium              : "only screen and (min-width: 700px)";
$large               : "only screen and (min-width: 800px)";


// Page Sizes
// --------------------------------------------------

$header-height       : 300px;


// Solarized light syntax highlight
// --------------------------------------------------

#002b36          : #002b36;
#073642          : #073642;
#586e75          : #586e75;
#657b83          : #657b83;
#839496           : #839496;
#93a1a1           : #93a1a1;
#eee8d5           : #eee8d5;
$gist-base3           : #fdf6e3;

$gist-yellow          : #b58900;
$gist-orange          : #cb4b16;
$gist-red             : #dc322f;
$gist-magenta         : #d33682;
$gist-violet          : #6c71c4;
$gist-blue            : #268bd2;
$gist-cyan            : #2aa198;
$gist-green           : #859900;

$gist-scroll-track    : #eee8d5;
$gist-scroll-thumb    : #d5cdb4;

$gist-selection-bg    : #eee8d5;
$gist-selection-color : $gist-blue;
$gist-border-color    : #d3d3d3;
$gist-meta-color      : rgba(187,187,187,0.8);


// Donation colors
// --------------------------------------------------

$donation-color      : #5175AD;
